/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    display: block;
    color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: text-shadow 0.5s ease;
	text-transform: uppercase; /* Make text uppercase */
    font-weight: 600; /* Heavy font weight */
    letter-spacing: -.04em; /* Make text tall and thin */
}

.gradient-text {
	background-image: linear-gradient(90deg, #f5af19, #ffffff);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

nav {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 60px; /* To avoid overlap with fixed nav */
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}